@{
    ViewData["Title"] = "Clientes";
}

<div class="position-sticky sticky-top">
    <div class="sidebar container nav-dark text-left rounded-right shadow-sm d-md-flex pt-2 pb-0 px-2">
        
        <ul class="nav flex-column flex-nowrap overflow-hidden">

            <li class="nav-item">
                <button class="nav-link btn btn-secondary btn-list mb-3 rounded border-dark" href="#sidebar" data-toggle="collapse" data-target="#sidebar">
                    <img src="~/images/list.svg" class="image-full-navbar wh-25" title="Abrir lista" />
                    <img src="~/images/arrow-down-circle.svg" class="image-mobile-navbar wh-15" title="Abrir lista" />
                </button>
            </li>

            <li>
                <div class="collapse sidebar-content" id="sidebar" aria-expanded="false">
                    <ul class="nav flex-column flex-nowrap">

                        <li class="nav-item">
                            <a class="nav-link text-theme-dark" asp-controller="Listagem" asp-action="AddCliente" asp-route-id="0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg>
                            </a>
                        </li>

                        @Html.Raw(ViewBag.Lista)
                    </ul>
                </div>
            </li>
        </ul>
        
    </div>
</div>

<div class="container text-center row mx-auto pt-5">

    @{
        ViewBag.Itens = new List<IoniCRM.Controllers.Objects.Cliente>();
        ViewBag.Itens = ViewBag.Clientes;
    }

    @Html.Partial("card")

</div>

@{
    if (ViewBag.Funcionarios != null)
    {

        List<IoniCRM.Controllers.Objects.Cliente> foo = ViewBag.Funcionarios;


        if (foo.Count > 0)
        {
            <h1 class="nav-dark rounded text-center text-theme-dark text-shadow m-3">Funcionarios</h1>
            <div class="container text-center row mx-auto pt-5">
                @{
                    ViewBag.Itens = new List<IoniCRM.Controllers.Objects.Cliente>();
                    ViewBag.Itens = ViewBag.Funcionarios;
                }

                @Html.Partial("card")
            </div>
        }
    }
}