<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IoniCRM</title>
    <link rel="shortcut icon" href="~/images/logo-icon-1.png" sizes="32x32">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link runat="server" rel="stylesheet" type="text/css" media="screen" href="~/css/internal.css" />

</head>
<body class="bg-theme-login">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-dark border-bottom border-dark box-shadow mb-3">
            <div class="container">
                @{
                    switch (Session.GetPermission(this.Context.Session))
                    {
                        case 2:
                            <a class="navbar-brand border-0" asp-area="" asp-controller="Home" asp-action="Home">
                                <div>
                                    <img src="~/images/logo-1.png" class="image-full image-full-navbar mb-0" />
                                    <img src="~/images/logo-icon-1.png" class="image-mobile image-mobile-navbar mb-0" />
                                </div>
                            </a>

                            <div class="btn-group" role="group">
                                <button class="btn btn-light pt-1">
                                    <svg class="sun" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" />
                                </button>
                                <button class="btn btn-outline-secondary pt-1" disabled>
                                    <svg class="moon-fill" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" />
                                </button>
                            </div>

                            <button class="navbar-toggler btn-secondary bg-theme-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <img src="~/images/list.svg" class="wh-25" title="Abrir Menu" />
                                <!--<span class="navbar-toggler-icon"></span>-->
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-theme-dark text-shadow font-weight-bold" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-theme-dark text-shadow font-weight-bold" asp-area="" asp-controller="Listagem" asp-action="Clientes">Clientes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-theme-dark text-shadow font-weight-bold" asp-area="" asp-controller="Pipeline" asp-action="Pipeline">Pipeline</a>
                                    </li>

                                    <!--
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        -->
                                </ul>
                            </div>
                            break;

                        default:
                            <div>
                                <img src="~/images/logo-1.png" class="image-full image-full-navbar mb-0" />
                                <img src="~/images/logo-icon-1.png" class="image-mobile image-mobile-navbar mb-0" />
                            </div>

                            <div class="btn-group" role="group">
                                <button class="btn btn-light pt-1">
                                    <svg class="sun" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" />
                                </button>
                                <button class="btn btn-outline-secondary pt-1" disabled>
                                    <svg class="moon-fill" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" />
                                </button>
                            </div>

                            break;
                    }
                }
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-light">
        <div class="container">
            &copy; @DateTime.Now.Year - IoniCRM
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/internal.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
