@{
    ViewData["Title"] = "Contacts";
    ViewData["permission"] = 0;
}

<div class="text-center">
    <h1 class="display-4">Hello World!!</h1>
    <p>I'm a example. <img src="https://img.shields.io/badge/Figma-150485?style=plastic&logo=figma&logoColor=white&labelColor=F24E1E" /> </p>
    <strong></strong>
</div>
