@{
    ViewData["Title"] = "Home Page";
}

<div class="pb-5 mx-3">
    <div class="container bg-card bg-card-dark text-left row py-2 mx-auto">

        <div class="row nav-dark bg-card justify-content-between w-100 py-1 px-3 m-1">
            <h2 class="text-theme-dark m-0">Histórico de Atividades</h2>
            
            <a class="btn btn-danger px-1 py-0 m-1" asp-controller="Home" asp-action="Home" asp-route-act="limpar_historico">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </a>
        </div>

        <div class="col">
            @foreach (var item in ViewBag.Historico as List<IoniCRM.Controllers.Objects.Historico>)
            {
                <div class="row bg-card bg-light justify-content-between align-items-center px-3 py-2 mx-0 mb-2">

                    <h4 class="text-dark m-0">@item.descr</h4>
                    <div class="text-dark">@item.data</div>

                </div>
            }
        </div>

    </div>
</div>
