@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container bg-main-card">
        <img class="main-logo" />
        <h1 class="display-4">Welcome to the Website, @DateTime.Now</h1>
        <p class="bg-white">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h3 class="text-center text-white-50">...</h3>
    </div>

</div>
