
<li class="border-bottom border-dark px-1 pb-3">

    <div class="row justify-content-between align-items-center mx-2 pb-1">

        <div class="text-card-title">Nome da Deal</div>


        <div class="text-card text-right">
            01/01/2000 
            <br>
            12:30
        </div>

    </div>

    <div class="row align-items-center mx-0">

        <img title="x - imagem perfil" src="/images/logo-icon-1.png" class="perfil-icon mw-6 rounded-circle mx-2">
        <div class="border-right border-dark pl-1 pr-2 mr-2" style="
">
            <div class="text-card-title">Apelido Cliente</div>
            <div class="text-card">Razão Social da Empresa</div>
        </div>

        <div class="text-card">R$ 25</div>

    </div>
</li>