@{
    ViewData["Title"] = "Pipeline";
}

<div class="row mx-auto pt-5">

    <!--
    Lembrete:
        Limitar o total de cards mostrados a 2 ou 3,
        mais do que isso aparece o scrollbar.

        Falta ligar o layout com os dados
    -->

    @for (int x = 0; x < 5; x++)
    {
        <div class="mw-30 mx-auto mb-4 px-2">
            <div class="container text-justify p-2 bg-card rounded mh-100 mw-auto-content box-shadow">
                <div class="row border-bottom border-dark mx-0">
                    <ul class="w-auto mb-2 px-1">
                        <li class="row align-items-center mx-1">
                            <div class="flex-wrap my-auto mr-3 px-1">
                                <h2 class="font-weight-bold borda-texto text-shadow">@ViewBag.estagio[x]</h2>
                            </div>

                            <a class="nav-link p-0" href="Pipeline?act=adicionar">
                                <img class="btn-2" title="Adicionar nova Deal" src="~/images/add.png" />
                            </a>
                        </li>

                        <li class="row mx-1">
                            <div class="d-inline flex-wrap text-card-title text-muted pl-1 pr-3">
                                @ViewBag.totalDeals[x] Deals
                            </div>

                            <div class="d-inline flex-wrap text-card-title text-muted pl-1">
                                Total: R$ @ViewBag.totalValor[x]
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row mx-0">
                    <ul class="nav flex-column">

                        @{
                            foreach (var pipeline in ViewBag.Pipelines as List<IoniCRM.Controllers.Objects.Pipeline>)
                            {
                                foreach (var deal in pipeline.deals)
                                {
                                    ViewBag.Deal = deal;
                                    if (deal.estagio == x)
                                    {
                                        @Html.Partial("../Pipelines/card_deal");
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>